conanbuildinfo.txt
conan.lock
conaninfo.txt
conanbuildinfo.cmake
graph_info.json
build
bin
*_include.cmake
*_tests.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
conan.cmake
Testing
.vscode
tags
*.pt
detect_cuda*
*.png
