conanbuildinfo.txt
conan.lock
conaninfo.txt
conanbuildinfo.cmake
graph_info.json
build
lib
*_include.cmake
*_tests.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
conan.cmake
Testing
tags
CMakeUserPresets.json
